@media screen and (max-width: 845px) {
    #wrap {
        width: 80%;
    }

    .info {
        padding: 5px 20px;
    }
}

@media screen and (max-width: 470px) {
    #wrap {
        width: 100%;
        border-radius: 0;
        font-size: 3.5vw;
    }

    .sort > * {
        font-size: 4vw;
    }

    .date, .time {
        width: 25%;
    }
    
    .result {
        width: 20%;
    }
    
    .info {
        font-size: 3vw;
        padding: 5px 10px;
    }

    #search {
        right: 50%;
        transform: translate(50%,50%);
    }
}
