@import url(test-edit.css);
@import url(test-edit-rwd.css);

#wrap {
    background-color: #f4eee2;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

#search {
    width: 40%;
    min-width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 25%);
}

input[type = "search"] {
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

#searchbtn, .add {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    display: flex;
}

#container {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
}

.number {
    width: 15%;
}

.content {
    width: 50%;
}

.date {
    width: 20%;
}

#editquestion {
    display: flex;
    width: 20px;
    height: 20px;
}

table {
    border-collapse: collapse;
}

.sort {
    background-color: #ffe785;
    width: 100%;
    height: 50px;
    border-radius:10px;
    display: flex;
    > * {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .number, .date {
        &::after {
            content: '';
            border: 5px solid;
            border-color: #c9c9c9 transparent transparent;
            transform: translate(10px,25%);
        }
    }
}

#items {
    width: 100%;
    height: calc(95% - 100px);
    text-align: center;
    border-collapse: collapse;
    tr {
        height: 15%;
        &:first-of-type td {
            border-top: none;
        }
        &:last-of-type td {
            border-bottom: none;
        }
    }
    td {
        border: 1px dashed #000;
        border-left: none;
        border-right: none;
    }
}

.pages {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    a {
        color: #16435f;
        width: 30px;
        height: 30px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        &:hover {
            color: #f0f0f0;
        }
    }
}