@media screen and (max-width: 845px) {
    #wrap {
        width: 90%;
    }

    #tags {
        width: 20%;
    }

    .tag {
        font-size: 4vw;
        height: 75px;
    }
}

@media screen and (max-width: 470px) {
    #wrap {
        width: 100%;
    }

    #tags {
        width: 25%;
    }
    
    .tag {
        font-size: 5vw;
        height: 65px;
    }

    .content {
        font-size: 16px;
    }
    
    .title {
        font-size: 20px;
    }
}