#forgotpasswordpage{
    font-size: 1.6vw;
}


#forgotpasswordpage input{
    width: 400px;
    margin-top: 20px;
    font-size: 1.2vw;
}

#forgotpasswordpage button{
    margin-top: 20px;
    background-color: #fff;
    background-color: #d5ad8a;
    color: #fff;
    font-size: 20px;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
}


