.forgotpage {
    width: calc(60% - 100px);
    max-width: 450px;
    height: 30%;
    input {
        width: calc(100% - 30px);
        font-size: 16px;
    }
    
    button {
        background-color: #d5ad8a;
        color: #fff;
        width: 80%;
        height: 50px;
        border: none;
        border-radius: 25px;
        font-size: 18px;
    }
}

.forgot {
    font-size: 24px;
}