@media screen and (max-width: 845px) {
    .forgotpage {
        width: calc(80% - 100px);
        button {
            width: 90%;
        }
    }
}

@media screen and (max-width: 470px) {
    .forgotpage {
        width: calc(80% - 50px);
        padding: 25px;
        button {
            width: 95%;
            font-size: 14px;
        }
    }
}