#infopage {
    width: 550px;
    height: 450px;
}

#info {
    background-color: #fdefcb;
    font-size: 28px;
    width: 50%;
    height: 60px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type = "submit"], input[type = "reset"] {
    color: #fff;
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 25px;
    padding: 0;
}

input[type = "reset"] {
    background-color: #dbc8b6;
}

input[type = "submit"] {
    background-color: #d5ad8a;
}